@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 203 0% 95%;
    --background-inversion: 203 10% 10%;
    --foreground: 203 0% 10%;
    --foreground-inversion: 203 0% 90%;
    --card: 203 0% 90%;
    --card-foreground: 203 0% 12%;
    --popover: 203 0% 95%;
    --popover-foreground: 203 95% 10%;
    --primary: 203 10% 62%;
    --primary-foreground: 0 0% 0%;
    --secondary: 203 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 165 10% 85%;
    --muted-foreground: 203 0% 35%;
    --accent: 165 10% 80%;
    --accent-foreground: 203 0% 12%;
    --destructive: 3 74% 59%;
    --destructive-foreground: 41 0% 90%;
    --border: 203 20% 50%;
    --input: 203 20% 18%;
    --ring: 203 10% 62%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 203 10% 10%;
    --background-inversion: 203 0% 95%;
    --foreground: 203 0% 90%;
    --foreground-inversion: 203 0% 10%;
    --card: 203 0% 10%;
    --card-foreground: 203 0% 90%;
    --popover: 203 10% 5%;
    --popover-foreground: 203 0% 90%;
    --primary: 203 10% 62%;
    --primary-foreground: 0 0% 0%;
    --secondary: 203 10% 12%;
    --secondary-foreground: 0 0% 100%;
    --muted: 165 10% 15%;
    --muted-foreground: 203 0% 60%;
    --accent: 165 10% 15%;
    --accent-foreground: 203 0% 90%;
    --destructive: 3 74% 59%;
    --destructive-foreground: 41 0% 90%;
    --border: 203 20% 18%;
    --input: 203 20% 18%;
    --ring: 203 10% 62%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
